<div >
	<app-table
	[data]="dataSource"
	[columns]="tableColumns"
	[config]="tableConfig" 
  [item]="'Carrera'" 
  [loading]="loadingProgressBar"  
	(action)="onTableAction($event)"
	></app-table> 

	
</div>

<!-- Modal para Agregar/Editar Informacion Universidad -->

<ng-template #AddEditCarrera>
  <div class="cabeceraform">
    <h2 mat-dialog-title>{{operation + 'Carrera'}} </h2>
    <mat-spinner class="m-2" *ngIf="loading"  color="accent" diameter="30"></mat-spinner>
  </div>
  <ng-container >
    <form [formGroup]="form" (ngSubmit)="addEditCarreras()">
      <mat-dialog-content >
        <!-- Select Universidad-->   
        <mat-form-field appearance="outline" color="primary" class="example-full-width">
          <mat-label>Universidad</mat-label>
          <input type="text" matInput [formControl]="myControlUniversity" [matAutocomplete]="autoUniversity" >
          <mat-icon matSuffix>domain</mat-icon>          
          <mat-autocomplete   #autoUniversity="matAutocomplete" [displayWith]="displayFn" >
            <mat-option  *ngFor="let option of filteredUniversity | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Select Facultad-->   
        <mat-form-field appearance="outline" color="primary" class="example-full-width">
          <mat-label>Facultad</mat-label>
          <input type="text" matInput [formControl]="myControlFaculty"   [matAutocomplete]="autoFaculty">
          <mat-icon matSuffix>domain</mat-icon>          
          <mat-autocomplete #autoFaculty="matAutocomplete" [displayWith]="displayFn" >
            <mat-option *ngFor="let option of filteredFaculty | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Select Campus-->   
        <mat-form-field appearance="outline" color="primary" class="example-full-width">
          <mat-label>Campus</mat-label>
          <input type="text" matInput [formControl]="myControlCampus"  [matAutocomplete]="autoCampus">
          <mat-icon matSuffix>domain</mat-icon>         
          <mat-autocomplete #autoCampus="matAutocomplete" [displayWith]="displayFn" >
            <mat-option *ngFor="let option of filteredCampus | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Select Programa-->   
        <mat-form-field appearance="outline" color="primary" class="example-full-width">
          <mat-label>Programa</mat-label>
          <input type="text" matInput [formControl]="myControlProgram"  [matAutocomplete]="autoProgram">
          <mat-icon matSuffix>domain</mat-icon>          
          <mat-autocomplete #autoProgram="matAutocomplete" [displayWith]="displayFn" >
            <mat-option *ngFor="let option of filteredProgram | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          
      </mat-dialog-content>
      <mat-dialog-actions align="end">
          <button mat-dialog-close  mat-stroked-button color="warn" >Cancelar</button>
          <button [disabled]="!isSelectionValid()" type="submit" mat-stroked-button color="primary"  >Aceptar</button>
      </mat-dialog-actions>
  </form>
	

  </ng-container>
  
  </ng-template>
