<div class="contenedor-tabla">
	<div class="program-view ">
		
	<app-table
	[data]="dataSource"
	[columns]="tableColumns"
	[config]="tableConfig"   
	[item]="'Programa'"  
	[loading]="loadingProgressBar" 
	(action)="onTableAction($event)"
	> </app-table> 

	</div>
</div>
 
<ng-template #AddEditPrograma>
  <div class="cabeceraform">
    <h2 mat-dialog-title>{{operation + 'Programa'}} </h2>
    <mat-spinner class="m-2" *ngIf="loading"  color="accent" diameter="30"></mat-spinner>
  </div>
  <form [formGroup]="form" (ngSubmit)="addEditProgram()">
      <mat-dialog-content >    
          
          <mat-form-field  appearance="outline" color="primary" class="full-width">
              <mat-label>Programas</mat-label>
              <input formControlName="programas" matInput placeholder="Ingrese el nombre del Programa">
              <mat-icon matSuffix>domain</mat-icon>
              <mat-error *ngIf="form.get('programa')?.touched && form.get('programa')?.errors?.['required']">El campo programa es requerido</mat-error>
              <mat-error *ngIf="form.get('programa')?.touched && form.get('programa')?.errors?.['minlength']">El campo programa debe tener  3 caracteres o mas </mat-error>
              <mat-error *ngIf="form.get('programa')?.touched && form.get('programa')?.errors?.['maxlength']">El campo programa debe tener  75 caracteres o menos </mat-error>
              
						</mat-form-field>               
					</mat-dialog-content>
					<mat-dialog-actions align="end">
							<button mat-dialog-close  mat-stroked-button color="warn" >Cancelar</button>
							<button [disabled]="form.invalid" type="submit" mat-stroked-button color="primary"  >Aceptar</button>
					</mat-dialog-actions>
			</form>
			
			</ng-template>
		