<div class="fs-header">
  <mat-toolbar class="fs-header__toolbar">
    <img src="assets\img\logo.png" class="fs-header__toolbar-img" />
    <div class="fs-header__toolbar-routes">
      <div
        class="fs-header__toolbar-routes-button"
        (click)="select(route.name)"
        [routerLink]="route.link"
      [ngClass]="{'fs-header__toolbar-routes-selected': route.name == selected} "
        *ngFor="let route of routes"
      >
        {{ route.name }}
      </div>
    </div>
    <div class="fs-header__toolbar-spacer"></div>
    <button  (click)="logout()" class="fs-header__toolbar-logout" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>logout</mat-icon>
    </button>
    
  </mat-toolbar>
</div>
