.table-component{
    width: 95%;
    padding: 2rem;
    &-table{
    
    }
}
.progresBar{
    padding-top: 25rem;
   
    
}
// .mat-column-actions {
//     flex: 0.25; /* Ajusta el ancho de la columna de acciones según sea necesario */
//   }