
<div class="person-view ">
  <mat-tab-group>
    <mat-tab label="Todos">       
      <app-table 
      [data]="dataSource"
      [columns]="tableColumns"
      [config]="tableConfig" 
      [item]="'Persona'"
      [loading]="loadingProgressBar"   
      (action)="onTableAction($event)"
      > </app-table>  
    </mat-tab>  
    <mat-tab label="Alumnos"> 
      <app-table
      [data]="dataSourceAlumnos"
      [columns]="tableColumnsAlumnos"
      [config]="tableConfigAlumnos" 
      [item]="'Alumno'"
      [loading]="loadingProgressBar"   
      (action)="onTableActionTitulaciones($event)"
      > </app-table> 
    </mat-tab>
    <mat-tab label="Profesores">  <app-table
      [data]="dataSourceProfesores"
      [columns]="tableColumnsProfesores"
      [config]="tableConfigProfesores" 
      [item]="'Profesor'"
      [loading]="loadingProgressBar"   
      (action)="onTableActionTitulaciones($event)"
      > </app-table>  </mat-tab>
  </mat-tab-group>
</div>

<ng-template #vistaInfo>
  <div class="modal-content">
    <div class="row">
      <mat-list>
        <!-- Primer grupo de elementos -->
        <mat-list-item>Nombre: {{person.nombre}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Apellido: {{person.apellido}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>DNI: {{person.personal_id}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Fecha de nacimiento: {{person.birthdate}}</mat-list-item>
       <mat-divider></mat-divider>
        <mat-list-item>Genero: {{ person.genero | translateGen }}</mat-list-item>
        <mat-divider></mat-divider>
        
      </mat-list>
    </div>
    <div class="row">
      <mat-list>
        <!-- Segundo grupo de elementos -->
        <mat-list-item>Correo electronico: {{person.email}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Barrio: {{person.lugar.barrio}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Ciudad: {{person.lugar.ciudad}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Provincia: {{person.lugar.provincia}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pais: {{person.lugar.pais}}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </div>
  <button mat-button mat-dialog-close type="submit" mat-stroked-button color="primary">Salir</button>
</ng-template>

<!-- Modal para Agregar/Editar Informacion Persona -->

<ng-template  #AddEditPersona>
  <div class="cabeceraform">
    <h2 mat-dialog-title>{{operation + 'Persona'}} </h2>
    <mat-spinner class="m-2" *ngIf="loading"  color="primary" diameter="30"></mat-spinner>
  </div>
  
  <form [formGroup]="form"  enctype="multipart/form-data" >
  <mat-dialog-content class="mat-dialog-content  " align="center"  >  
    <div class="mx-auto my-2">
      <!-- -------------Nombre-------------------------------- -->      
        
      <mat-form-field  appearance="outline" color="primary" class="mid-width">
        <mat-label>Nombre </mat-label>
        <input formControlName="nombre" matInput placeholder="Ingrese Nombre ">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['required']">El campo Nombre es requerido</mat-error>     
        
    </mat-form-field>
    <!-- -------------Apellido-------------------------------- -->

    <mat-form-field  appearance="outline" color="primary" class="mid-width ms-1">
        <mat-label>Apellido</mat-label>
        <input formControlName="apellido" matInput placeholder="Ingrese Apellido">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="form.get('apellido')?.touched && form.get('apellido')?.errors?.['required']">El campo Apellido es requerido</mat-error>
        
    </mat-form-field>

     <!-- -------------DNI-------------------------------- -->

     <mat-form-field appearance="outline" color="primary" class="mid-width">
      <mat-label>Numero de Documento</mat-label>
      <input formControlName="documento" matInput placeholder="Ingresa tu DNI" (input)="validateInput($event)">
      <mat-icon matSuffix>person_outline</mat-icon>
      <mat-error *ngIf="form.get('documento')?.touched && form.get('documento')?.errors?.['required']">El campo DNI es requerido</mat-error>
      <mat-error *ngIf="form.get('documento')?.touched && form.get('documento')?.errors?.['pattern']">Ingrese solo números ej: 35685127 </mat-error>
     
    </mat-form-field>

     <!-- -------------Genero-------------------------------- -->   
    <mat-form-field appearance="outline" color="primary" class="mid-width">
      <mat-label>Genero</mat-label>
      <input type="text" matInput [formControl]="myControlGenders" [matAutocomplete]="autoGenero" >
      <mat-icon matSuffix>person_outline</mat-icon>           
      <mat-autocomplete   #autoGenero="matAutocomplete" [displayWith]="displayFn" >
        <mat-option *ngFor="let option of filteredGenders | async" [value]="option">
          {{option.nombre |translateGen}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- -------------Correo-------------------------------- -->

    <mat-form-field appearance="outline" color="primary" class="mid-width">
        <mat-label>Enter your email</mat-label>
        <input formControlName="correo" matInput placeholder="nombre@example.com">
        <mat-icon  matSuffix> mail_outline</mat-icon>
        <mat-error *ngIf="form.get('correo')?.touched && form.get('correo')?.errors?.['required']">El campo Correo es requerido</mat-error>
        <mat-error *ngIf="form.get('correo')?.touched && form.get('correo')?.errors?.['email']">Correo invalido</mat-error>
   
    </mat-form-field>

     <!-- -------------Fecha de Nacimiento-------------------------------- -->

     <mat-form-field appearance="outline" color="primary" class="mid-width">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker2"
      formControlName="birthdate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="form.get('birthdate')?.touched && form.get('birthdate')?.errors?.['required']">El campo Fecha es requerido</mat-error>
    </mat-form-field>

   
    <!-- -------------Pais-------------------------------- -->
    <mat-form-field appearance="outline" color="primary" class="mid-width">
      <mat-label>País</mat-label>
      <input type="text" matInput [formControl]="myControlCountry" [matAutocomplete]="autoCountry" >
      <mat-icon matSuffix>domain</mat-icon>          
      <mat-autocomplete   #autoCountry="matAutocomplete" [displayWith]="displayFn" >
        <mat-option *ngFor="let option of filteredCountry | async" [value]="option">
          {{option.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <!-- -------------Provincia-------------------------------- -->

    <mat-form-field appearance="outline" color="primary" class="mid-width">
      <mat-label>Provincia</mat-label>
      <input type="text" matInput [formControl]="myControlProvince"   [matAutocomplete]="autoProvince">
      <mat-icon matSuffix>domain</mat-icon>          
      <mat-autocomplete #autoProvince="matAutocomplete" [displayWith]="displayFn" >
        <mat-option  *ngFor="let option of filteredProvince | async" [value]="option">
          {{option.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>      

   
    <!-- -------------Ciudad-------------------------------- -->
    <mat-form-field appearance="outline" color="primary" class="mid-width">
      <mat-label>Ciudad</mat-label>
      <input type="text" matInput [formControl]="myControlCity"   [matAutocomplete]="autoCity">
      <mat-icon matSuffix>domain</mat-icon>         
      <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="displayFn" >
        <mat-option *ngFor="let option of filteredCity | async" [value]="option">
          {{option.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <!-- -------------Barrio-------------------------------- -->

    <mat-form-field appearance="outline" color="primary" class="mid-width">
      <mat-label>Barrio</mat-label>
      <input type="text" matInput [formControl]="myControlNeighborhood"   [matAutocomplete]="autoNeighborhood">
      <mat-icon matSuffix>domain</mat-icon>          
      <mat-autocomplete #autoNeighborhood="matAutocomplete" [displayWith]="displayFn" >
        <mat-option *ngFor="let option of filteredNeighborhood | async" [value]="option">
          {{option.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </div>  
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-dialog-close  mat-stroked-button color="warn" >Cancelar</button>
      <button [disabled]="form.invalid || !isSelectionValid()  " type="submit" mat-stroked-button color="primary"  >Aceptar</button>
  </mat-dialog-actions>
  </form>
	
  </ng-template>

  <!-- Modal para Agregar/Editar Informacion Persona Titulacion-->

  <ng-template #vistaInfoPT>
    <div class="modal-content">
      <div class="row">
        <mat-list>
          <!-- Primer grupo de elementos -->
          <mat-list-item>Nombre: {{personaTitulacion.persona.nombre}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Apellido: {{personaTitulacion.persona.apellido}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>DNI: {{personaTitulacion.persona.personal_id}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Fecha de nacimiento: {{personaTitulacion.persona.birthdate}}</mat-list-item>
         <mat-divider></mat-divider>
          <mat-list-item>Genero: {{ personaTitulacion.persona.genero | translateGen }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Correo electronico: {{personaTitulacion.persona.email}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Tipo: {{personaTitulacion.tipo}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Campus: {{personaTitulacion.titulacion?.campus || 'Sin datos'}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Facultad: {{personaTitulacion.titulacion?.facultad || 'Sin datos'}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Universidad: {{personaTitulacion.titulacion?.universidad || 'Sin datos'}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Porgrama: {{personaTitulacion.titulacion?.carrera || 'Sin datos'}}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
        
      </div>
     
    </div>
    <button mat-button mat-dialog-close type="submit" mat-stroked-button color="primary">Salir</button>
  </ng-template>

  <ng-template #AddEditPersonaTitulaciones>
  <div class="cabeceraform">
    <h2 mat-dialog-title>{{operation + nombreTipoPT}} </h2>
    <mat-spinner class="m-2" *ngIf="loading"  color="primary" diameter="30"></mat-spinner>
  </div>
  
 
  <mat-dialog-content class="mat-dialog-content  " align="center" class="mx-auto" >  
    <mat-stepper class="mx-auto" #stepper>
      <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup"  enctype="multipart/form-data">
       
          <ng-template matStepLabel>Información Personal</ng-template>
          <div class="mx-auto mt-4">
                <!-- -------------Nombre-------------------------------- -->      
            
            <mat-form-field  appearance="outline" color="primary" class="mid-width">
              <mat-label>Nombre </mat-label>
              <input formControlName="nombre" matInput placeholder="Ingrese Nombre " required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['required']">El campo Nombre es requerido</mat-error>     
              
            </mat-form-field>
          <!-- -------------Apellido-------------------------------- -->

            <mat-form-field  appearance="outline" color="primary" class="mid-width ms-1">
                <mat-label>Apellido</mat-label>
                <input formControlName="apellido" matInput placeholder="Ingrese Apellido" required>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="firstFormGroup.get('apellido')?.touched && form.get('apellido')?.errors?.['required']">El campo Apellido es requerido</mat-error>
                
            </mat-form-field>

          <!-- -------------DNI-------------------------------- -->

            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Numero de Documento</mat-label>
              <input formControlName="documento" matInput placeholder="Ingresa tu DNI" (input)="validateInput($event)" required>
              <mat-icon matSuffix>person_outline</mat-icon>
              <mat-error *ngIf="firstFormGroup.get('documento')?.touched && form.get('documento')?.errors?.['required']">El campo DNI es requerido</mat-error>
              <mat-error *ngIf="firstFormGroup.get('documento')?.touched && form.get('documento')?.errors?.['pattern']">Ingrese solo números ej: 35685127 </mat-error>
            
            </mat-form-field>

          <!-- -------------Genero-------------------------------- -->   
            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Genero</mat-label>
              <input type="text" matInput [formControl]="myControlGendersPT" [matAutocomplete]="autoGenero" required >
              <mat-icon matSuffix>person_outline</mat-icon>           
              <mat-autocomplete   #autoGenero="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredGenders | async" [value]="option">
                  {{option.nombre |translateGen}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

          <!-- -------------Correo-------------------------------- -->

            <mat-form-field appearance="outline" color="primary" class="mid-width">
                <mat-label>Enter your email</mat-label>
                <input formControlName="correo" matInput placeholder="nombre@example.com">
                <mat-icon  matSuffix> mail_outline</mat-icon>
                <mat-error *ngIf="firstFormGroup.get('correo')?.touched && form.get('correo')?.errors?.['required']">El campo Correo es requerido</mat-error>
                <mat-error *ngIf="firstFormGroup.get('correo')?.touched && form.get('correo')?.errors?.['email']">Correo invalido</mat-error>
          
            </mat-form-field>

            <!-- -------------Fecha de Nacimiento-------------------------------- -->

            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker2"
              formControlName="birthdate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="firstFormGroup.get('birthdate')?.touched && form.get('birthdate')?.errors?.['required']">El campo Fecha es requerido</mat-error>
            </mat-form-field>

        
          <!-- -------------Pais-------------------------------- -->
            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>País</mat-label>
              <input type="text" matInput [formControl]="myControlCountryPT" [matAutocomplete]="autoCountry" >
              <mat-icon matSuffix>domain</mat-icon>          
              <mat-autocomplete   #autoCountry="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredCountry | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            
            <!-- -------------Provincia-------------------------------- -->

            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Provincia</mat-label>
              <input type="text" matInput [formControl]="myControlProvincePT"   [matAutocomplete]="autoProvince">
              <mat-icon matSuffix>domain</mat-icon>          
              <mat-autocomplete #autoProvince="matAutocomplete" [displayWith]="displayFn" >
                <mat-option  *ngFor="let option of filteredProvince | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>      

        
          <!-- -------------Ciudad-------------------------------- -->
            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Ciudad</mat-label>
              <input type="text" matInput [formControl]="myControlCityPT"   [matAutocomplete]="autoCity" required>
              <mat-icon matSuffix>domain</mat-icon>         
              <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredCity | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            
            <!-- -------------Barrio-------------------------------- -->

            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Barrio</mat-label>
              <input type="text" matInput [formControl]="myControlNeighborhoodPT"   [matAutocomplete]="autoNeighborhood">
              <mat-icon matSuffix>domain</mat-icon>          
              <mat-autocomplete #autoNeighborhood="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredNeighborhood | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>  
              
            </div>
          </form>
          
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Información Academica</ng-template> 
          <div class="mt-4">
            <!-- Select Tipo-->
            <mat-form-field *ngIf="selectTipo"  appearance="outline" color="primary" class="row tipo-select mx-auto">
              <mat-label>Rol</mat-label>
              <mat-select  [formControl]="myControlTipo" required name="Rol">
                <mat-option *ngFor="let tipo of tipoPersona" [value]="tipo.id">
                  {{tipo.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- Select Universidad-->   
            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Universidad</mat-label>
              <input type="text" matInput [formControl]="myControlUniversityPT" [matAutocomplete]="autoUniversity" >
              <mat-icon matSuffix>domain</mat-icon>          
              <mat-autocomplete   #autoUniversity="matAutocomplete" [displayWith]="displayFn" >
                <mat-option  *ngFor="let option of filteredUniversity | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- Select Facultad-->   
            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Facultad</mat-label>
              <input type="text" matInput [formControl]="myControlFacultyPT"   [matAutocomplete]="autoFaculty">
              <mat-icon matSuffix>domain</mat-icon>          
              <mat-autocomplete #autoFaculty="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredFaculty | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- Select Campus-->   
            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Campus</mat-label>
              <input type="text" matInput [formControl]="myControlCampusPT"  [matAutocomplete]="autoCampus">
              <mat-icon matSuffix>domain</mat-icon>         
              <mat-autocomplete #autoCampus="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredCampus | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- Select Programa-->   
            <mat-form-field appearance="outline" color="primary" class="mid-width">
              <mat-label>Programa</mat-label>
              <input type="text" matInput [formControl]="myControlProgramPT"  [matAutocomplete]="autoProgram">
              <mat-icon matSuffix>domain</mat-icon>          
              <mat-autocomplete #autoProgram="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredProgram | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>        
            
              
        </form>
      </mat-step>      
    </mat-stepper>  

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-dialog-close  mat-stroked-button color="warn" >Cancelar</button>
      <button [disabled]="firstFormGroup.invalid || !isSelectionValidTitulacion()  " (click)="addEditPersonTitulacion()" mat-stroked-button color="primary"  >Aceptar</button>
  </mat-dialog-actions>
  </ng-template>

  
 
	

  
  
  
