<div class="person-view">
  <mat-tab-group>
    <mat-tab label="Todos">
      <app-table [data]="dataSource" [columns]="tableColumns" [config]="tableConfig" [loading]="loadingProgressBar"
        (action)="onTableAction($event)"> </app-table>
    </mat-tab>
    <mat-tab label="Alumnos"> <app-table-persons></app-table-persons></mat-tab>
    <mat-tab label="Profesores"> Content 3 </mat-tab>
  </mat-tab-group>
</div>

<!-- Modal para Vista Informacion Persona -->

<ng-template #vistaInfo>
  <mat-list>
    <mat-list-item>Nombre: {{person.nombre}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Apellido: {{person.apellido}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>DNI: {{person.personal_id}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Fecha de nacimiento: {{person.birthdate}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Genero: {{person.genero}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Correo electronico: {{person.email}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Barrio: {{person.lugar.barrio}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Ciudad: {{person.lugar.ciudad}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Provincia: {{person.lugar.provincia}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Pais: {{person.lugar.pais}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <button mat-button mat-dialog-close  type="submit" mat-stroked-button color="primary">Salir</button>
 
</ng-template>

